img{
    max-width: 100%;
}

*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
/* NAV */

nav{
    width: 100%;
    position: fixed!important;
    z-index: 9;
}

.nav-link{
    font-size: 12px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav div#nav{
    justify-content: flex-end;
}

nav ul li img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0;

}

nav ul li.df{
    display: flex;
} 

/* NAV */

/* HOME */

section#banner{
    height: 100vh;
    /* background: url("./img/cow-home.png") center center no-repeat fixed; */
    background-size: cover; 
    position: relative;
}

section#banner div#cont{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

section#banner div#cont h1{
    text-transform: uppercase;
    line-height: 55px;
}

section#banner div#cont h1 span{
    display: block;
}

section#banner div#cont h1 span#s1{
    font-weight: 300;
    color: #fff;
    font-size: 45px;
}

section#banner div#cont h1 span#s2{
    color: #fff;
    font-size: 75px;
}

section#banner div#cont h1 span#s3{
    font-size: 24px;
    color: #352e2c;
}

section#banner div#cont div#support{
    margin-top: 15px;
}

section#banner div#cont div#support a{
    background: #352e2c;
    padding: 7px 30px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px 0 0 3px;
}

section#banner div#cont div#support i{
    padding: 3px 14px 3px;
    background: #fff;
    font-size: 25px;
    color: #352e2d;
    display: inline-block;
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
}

section#banner-2{
    height: 100vh;
    /* background: url("./img/cow-home-2.png") center center no-repeat fixed; */
    background-size: cover; 
}

/* HOME */

/* LIST */

section#list{
    padding-top: 140px;
}

section#list article{
    margin-bottom: 40px;
}

/* LIST */


/* SINGLE ANIMAL */

section#single-animal{
    padding-top: 140px;
}

section#single-animal div.img-an img{
    border-radius: 10px;
}

section#single-animal div#info-an div.div-inf{
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    padding: 30px 20px;
}

section#single-animal div#info-an div.div-inf:first-child{
    padding-top: 20px;
}

section#single-animal div#info-an div.div-inf:last-child{
    border-bottom: none;
}

section#single-animal div#info-an div.div-inf div.cont-in-an{
    margin-left: 40px;
}

section#single-animal div#info-an div.div-inf div.cont-in-an h2{
    color: #b4b8bb;
    font-size: 18px;
    font-weight: 300;
}

section#single-animal div#info-an div.div-inf div.cont-in-an span{
    color: #352e2c;
    font-size: 20px;
    font-weight: 300;
}

section#single-animal div#info-an div.div-inf i{
    font-size: 30px;
    margin-top: -5px;
    color: #ff9800;
}

agm-map {
    height: 300px;
    width: 500px;
}

/* SINGLE ANIMAL */

/* PANEL CONTROL */

.nav-tabs{
    border-bottom: none!important;
    display: flex!important;
    flex-direction: column!important;
}

.nav-tabs .nav-link{
    transition: all .5s!important;
}

.nav-tabs .nav-link:hover{
    border-color: transparent!important;
    color: #ff9800!important;
}

.nav-tabs .nav-link.active{
    border-color: transparent!important;
    background-color: transparent!important;
    color: #ff9800!important;
}

section#panel-control{
    padding-top: 56px;
    position: relative;
}

section#panel-control aside div#logo-panel{
    text-align: center;
    background: #23272b;
    padding-top: 40px;
    padding-bottom: 40px;
}

section#panel-control aside div#user-panel{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

section#panel-control aside div#user-panel img{
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 50%;
}

section#panel-control aside div#user-panel p{
    font-weight: lighter;
    font-size: 14px;
    color: #9e9e9e;
    margin-bottom: 0;
}

section#panel-control aside{
    background: #32383e;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    /* position: fixed; */
}

section#panel-control aside ul#myTab {
    padding-left: 16px;
}

section#panel-control aside ul li{
    border-top: 1px solid #525050;
    padding-top: 10px;
    padding-bottom: 10px;
}

section#panel-control aside ul li:last-child{
    border-bottom: 1px solid #525050;
}

section#panel-control aside a{
    display: inline-block!important;
    margin-left: 0!important;
    color: #9e9e9e;
}

section#panel-control aside i{
    display: inline-block;
    margin-left: 16px;
    color: #9e9e9e;
}

section#panel-control div#back{
    text-align: center;;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

section#panel-control div#back a{
    background: #ff9800;
    padding: 7px 15px 5px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px 0 0 3px;
}

section#panel-control div#back i{
    padding: 3px 14px 3px;
    background: #fff;
    font-size: 16px;
    color: #352e2d;
    display: inline-block;
    margin-left: -6px;
    border-radius: 0 3px 3px 0;
}

section#panel-control div#content-panel-control{
    background: #f0f0f2;
    padding: 60px 100px 100px;
}

section#panel-control div#content-panel-control h2{
    text-align: center;
    font-size: 16px;
    color: #352e2d;
    margin-bottom: 50px;
    font-weight: 300;
}

section#panel-control div#content-panel-control h2 i{
    margin-right: 10px;
    color: #ff9800;
}

section#panel-control div#content-panel-control article{
    text-align: center;
    padding: 40px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section#panel-control div#content-panel-control article img{
    border-radius: 50%;
}

section#panel-control div#content-panel-control article h3{
    margin-top: 20px;
}

section#panel-control div#content-panel-control article p{
    margin-bottom: 0;
}

/* PANEL CONTROL */

/* SUPPORT */

section#support{
    padding-top: 140px;
}


/* SUPPORT */