<app-nav-bar></app-nav-bar>
<section id="banner" class="container-fluid">
    <div class="container">
        <div class="row">
            <div id="cont" class="col-md-6">
                <h1>
                    <span id="s1">In 2017</span>
                    <span id="s2">2.3M cows </span>
                    <span id="s3">were killed for food in Spain</span>
                </h1>
                <div id="support">
                    <a [routerLink]="['/list']">Save a cow</a>
                    <i class="ion-heart"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="banner-2" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="title-sec2">
                <h2>ABOUT US</h2>
                <span>01</span>
            </div>
            <div class="cont-sec2 col-md-4">
                <h2>WELCOME TO OUR WEBSITE</h2>
                <p>We fight for cows rights. We give support to all those cows in Spain for a better life. You can contribute to make cow´s life longer adopting one. They are not food.</p>
            </div>
        </div>
    </div>
</section>
<!-- <section id="banner-3" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="title-sec3">
                    <h2>ABOUT US</h2>
                    <span>01</span>
                </div>
                <div class="cont-sec3 col-md-4">
                    <h2>WELCOME TO OUR WEBSITE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cupiditate quae, debitis eos soluta facilis
                        explicabo enim architecto illum saepe accusamus, nihil magni voluptas quam fuga pariatur ullam, beatae
                        tempora quasi quo dolores?</p>
                </div>
            </div>
        </div>
    </section> -->
    <app-footer></app-footer>