<app-nav-bar></app-nav-bar>
<section id="signup" class="container-fluid">
	<div class="container">
		<div class="row">
			<h1 class="col-md-12">SIGN UP</h1>
			<div class="div-form col-md-4">
				<div class="div-form">
					<form>
						<input type="text" [(ngModel)]="username" name="username" placeholder="Username" require/>
						<input type="email" [(ngModel)]="email" name="email" placeholder="Email" require/>
						<input type="password" [(ngModel)]="password" name="password" placeholder="Password" require/>
						<div>
							<a class="signup" (click)="signup()"> sign up </a> <i class="ion-android-arrow-up"></i>
						</div>
					</form>
					<span>
						you have an user acount already?
						<a [routerLink]="['/login']">Log in</a>
					</span>
					<p *ngIf="error" class="error"> {{ error }} </p>
				</div>
			</div>
		</div>
	</div>
</section>