<section id="panel-control" class="containerfluid">
  <div class="row">
    <aside class="col-md-2">
      <div id="logo-panel">
        <img src="http://via.placeholder.com/150x50" alt="">
      </div>
      <div id="user-panel">
        <img src="http://via.placeholder.com/80x80" alt="">
        <p>Name</p>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <i class="ion-edit"></i>
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Edit Profile</a>
        </li>
        <li class="nav-item">
          <i class="ion-clock"></i>
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Historical</a>
        </li>
      </ul>
      <div id="back">
        <a href="#">BACK</a>
        <i class="ion-android-arrow-back"></i>
      </div>
    </aside>
    <div id="content-panel-control" class="col-md-10">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          uno
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h2><i class="ion-heart"></i>This is your historical saving cows</h2>
          <article class="col-md-4">
            <img src="http://via.placeholder.com/100x100" alt="">
            <h3>Catalina</h3>
            <p>10 €</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>